<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Neugram, Go scripting.</title>
<link rel="icon" type="image/png" href="/favicon.png">
<meta name=viewport content="width=device-width, initial-scale=1"/>
<style>
{{template "style.css"}}
</style>
</head>
<body>

<h1>Neugram, Go scripting</h1>
<section>

<div id="intro">
Neugram is a programming language designed to let you work quickly.
<br><br>
It integrates seamlessly with <a href="https://golang.org">Go</a>.
</div>

<div>

<div id="neu">{{template "neu.svg"}}</div>

<h3>Featuring</h3>
<ul>
	<li><code>#!</code> script support</li>
	<li>REPL</li>
	<li>top-level statements</li>
	<li>error elision</li>
	<li>integrated shell</li>
</ul>

An example:
<p>

<div id="demo-code" class="code">#!/usr/bin/ng

<span class="comment">// Start a web server to serve files.</span>
<span class="keyword">import</span> <span class="string">"net/http"</span>
pwd <span class="keyword">:=</span> <span class="keyword">$$</span> echo $PWD <span class="keyword">$$</span>
h <span class="keyword">:=</span> http.FileServer(http.Dir(pwd))
http.ListenAndServe(<span class="string">":8080"</span>, h)
</div>

<h3>Download</h3>

<p>Weekly binary releases will start when Go 1.10 is released in January 2018. (With it come several necessary plugin fixes and support on macOS.)

<p>In the mean time, you can build neugram from HEAD with:
<blockquote><code>go install neugram.io/ng</code></blockquote>

<h3>Blog</h3>

<div class="entries">
{{range .}}
<div><div class="entrydate">{{.Date}}</div><a href="{{.URL}}">{{.Title}}</a></div>
{{end}}
</div>

<br><a href="/blog/">Blog Archive</a>

<h3>Documentation</h3>

<ul>
	<li><a href="https://github.com/neugram/ng/blob/master/docs/shell.md">shell reference</a></li>
	<li>Much more needed!</li>
</ul>

<h3>Community</h3>

<p>Neugram is released under a MIT-style license.

<p>For discussion, there is a <a href="https://groups.google.com/forum/#!forum/neugram">neugram mailing list</a>.

<p>All the source code to neugram lives in git and is hosted in a <a href="https://github.com/neugram/ng">github repository</a>.

<p>File bugs in the github <a href="https://github.com/neugram/ng/issues">issue tracker</a>.

<p>You are welcome here.

</section>

{{template "footer"}}

</body>
</html>
